<header class="header-sesion">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="navbar navbar-light bg-light" [routerLink]="['/home']">
            <a class="navbar-brand">
                <img src="../../assets/Logo.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">Green Report Web
            </a>
        </nav>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Personal
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['/InformacionPerfil']">Informacion Perfil</a>
                        <a class="dropdown-item" [routerLink]="['/personal']">Personal</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Registro Recuperación
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['/Registro']">Registro</a>
                        <a class="dropdown-item" [routerLink]="['/RegistroAuditoria']">Registro Auditoria</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Materiales
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['/Materiales']">Materiales</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reportes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['/ProcesoRecuperacion']">Proceso Recuperación</a>
                        <a class="dropdown-item" [routerLink]="['/AuditoriaRecuperacion']">Auditoria Recuperación</a>
                    </div>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['/InformacionPerfil']">Usuario: {{ user?.correo }}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['']">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div style="margin:50px; ">
    <div class="row justify-content-center" style="background-color: #333333; color: white; font-size: small; border-radius: 10px;">
        <div class="col-6" style="text-align: center; border-style: solid; border-color: transparent #ffff transparent transparent;" (click)="mostrar('L')">
            <label style="padding: 5px;">Lista de personal</label>
        </div>
        <div class="col-6" style="text-align: center; justify-self: center;" (click)="mostrar('N')">
            <label style="padding: 8px;">Nuevo</label>
        </div>
    </div>

    <form [formGroup]="personalForm" (ngSubmit)="Personal()">
        <div class="row justify-content-center" *ngIf="mostrarNuevo">
            <div class="col-12 padre">
                <div class="cuadro">
                    <label> Crear nuevo</label>
                </div>
            </div>
            <div class="col-12" style="margin-top: 10px;">
                <div>
                    <input type="text" placeholder="Nombre" formControlName="nombre" class="form-control input-tex">
                    <div *ngIf="f.nombre.errors && f.nombre.touched">
                        <small class="alert alert-danger mt-4" role="alert">Nombre es un campo obligatorio</small>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <input type="email" placeholder="Correo" formControlName="correo" class="form-control input-tex">
                </div>
                <div style="margin-top: 10px;">
                    <select class="form-control input-tex" formControlName="estado">
                        <option disabled selected value= "" >Seleccionar Estado</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>
                <div style="margin-top: 10px;">
                    <select class="form-control input-tex" formControlName="idCargo">
                        <option disabled selected value= "" >Seleccionar Cargo</option>
                        <option value="1">Funcionario</option>
                        <option value="2">Funcionario Planta</option>
                        <option value="3">Administrador</option>
                        <option value="4">Gerente</option>
                    </select>
                </div>
                <div style="margin-top: 10px;">
                    <input type="password" placeholder="Contraseña" class="form-control input-tex" formControlName="idContraseña">
                </div>
                <div style="margin-top: 10px;">
                    <select class="form-control input-tex" formControlName="Descripcion">
                        <option disabled selected value= "" >Seleccionar Rol</option>
                        <option value="Bachiller">Bachiller</option>
                        <option value="Analista">Analista</option>
                        <option value="Profesional">Profesional</option>
                        <option value="Estudiante">Estudiante</option>
                        <option value="Universitario">Universitario</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-top: 10px;">
                <div class="col-6 ">
                    <button class="btn btn-danger">Cancelar</button>
                </div>
                <div class="col-6 ">
                    <button class="btn btn-success">Guardar</button>
                </div>
            </div>

        </div>
    </form>
    <div class="row justify-content-center" *ngIf="mostrarLista">
        <div class="col-12 padre">
            <div class="cuadro">
                <label> Consulta y filtra el personal de tu organización</label>
            </div>
        </div>
        <div class="col-12" style="margin-top: 10px;">
            <table class="table table-striped">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">#</th>
                        <th scope="col" sortable="name">Nombre</th>
                        <th scope="col" sortable="population">Correo</th>
                        <th scope="col" sortable="population">Estado</th>
                        <th scope="col" sortable="population">Cargo</th>
                        <th scope="col" sortable="population">Rol</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personas; let i = index">
                        <th style="text-align: center;">{{ i +1 }}</th>
                        <td style="text-align: center;">
                            {{ persona?.nombre }}
                        </td>
                        <td style="text-align: center;">
                            {{ persona?.Correo }}
                        </td>
                        <td style="text-align: center;">
                            {{ persona?.estado }}
                        </td>
                        <td style="text-align: center;">
                            {{ persona?.Cargo }}
                        </td>
                        <td style="text-align: center;">
                            {{ persona?.Descripcion }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>